[user]
	name = Sebastian Schuberth
	email = sschuberth@gmail.com
[core]
	pager = less -+S
	autocrlf = true
	safecrlf = warn
[alias]
	br = branch
	ci = commit
	co = checkout
	cp = cherry-pick
	dt = difftool -M
	fp = fetch --all --prune
	ls = ls-tree -r --name-only
	mt = mergetool
	mu = merge --ff-only @{u}
	pr = pull --rebase
	ra = rebase --abort
	rc = rebase --continue
	ri = rebase --interactive
	rs = remote -v show
	ru = reset --hard @{u}
	st = status
	id = rev-parse --short HEAD
	in = !git fetch -q && git log --oneline ..@{u}
	out = log --oneline @{u}..
	locate = ls-tree --name-only HEAD
	log-day = !git log --oneline --no-merges --since=1.day --author=\"$(git config user.name)\"
	log-sprint = !git log --oneline --no-merges --since=2.weeks --author=\"$(git config user.name)\"
[color]
	ui = true
[push]
	default = simple
[rerere]
	enabled = true
[diff]
	renamelimit = 0
	tool = bc3
[difftool]
	prompt = false
[difftool "bc3"]
	path = c:/Program Files (x86)/Beyond Compare 3/BComp.com
[difftool "ecmerge"]
	path = c:/Program Files (x86)/ECMerge/ecmerge.exe
[merge]
	tool = bc3
[mergetool]
	prompt = false
[mergetool "bc3"]
	path = c:/Program Files (x86)/Beyond Compare 3/BComp.com
[mergetool "ecmerge"]
	path = c:/Program Files (x86)/ECMerge/ecmerge.exe
